[*.cs]

# IDE0061: Use block body for local functions
csharp_style_expression_bodied_local_functions = false

# IDE0040: Add accessibility modifiers
dotnet_style_require_accessibility_modifiers = never
